/* -- BASE -- */
body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

span {
    display: block;
}

/* -- PRE-CLASSES -- */
.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    max-width: 1020px;
    margin: 0 auto;
}

.section {
    padding: 1.5rem;
}

.flex {
    display: flex;

    &.between {
        justify-content: space-between;
    }

    &.center {
        align-items: center;
    }

    &.col {
        flex-direction: column;
    }

    &.gap-l {
        gap: 3rem;
    }
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

/* -- CUSTOM -- */
.intro {
    text-align: center;
    color: hsl(276, 100%, 18%);
    background-color: hsl(236, 98%, 81%);
    width: 100%;

    & .title {
        font-size: 2.5rem;
        font-weight: bold;
    }

    & span {
        width: 700px;
        margin: 0 auto;
    }
}

.back-pattern {
    width: 100%;
    height: 100%;
    background-image: url(./assets/pasta-pattern.svg);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -10;
    opacity: .5;
}

.btn {
    font-size: 1.2rem;
    text-transform: uppercase;
    color: hsl(0, 0%, 100%);
    background-color: hsl(34, 65%, 49%);
    padding: .5rem 1.5rem;
    border: none;
    border-radius: 5px;
    margin-top: 1rem;
    margin-bottom: 2rem;
    cursor: pointer;
    transition: all .2s ease-in-out;
}

.btn:hover {
    background-color: hsl(0, 0%, 0%);
}

.webcam {
    margin-bottom: 1.5rem;
}

.pasta-label {
    background-color: hsl(0, 0%, 100%);
    padding: 1rem 2rem;
    display: inline-block;
}

.col-right {
    margin-top: .3rem;
}

.footer {
    width: 100%;
    color: hsl(276, 100%, 18%);
    background-color: hsl(236, 98%, 81%);

    & .footer__top > span {
        margin-bottom: 1.2rem;
    }

    & .footer__content {
        padding-top: 1rem;
        border-top: 2px solid hsl(0, 0%, 100%);
    }
}